body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;
}

li {
    display: inline;
}

.hero {
    display: flex;
    flex-direction: column;
    padding: 8px 72px;
    /* background: #1F2937; */
    
}

header {
    display: flex;
    justify-content: space-between;
    
}

.headerbody {
    display: flex;
    margin: 42px 0px;
    justify-content: space-between;
}

.imagecontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imageheader {
    display: flex;
    justify-content: center;
}

.images {
    display: flex;
    justify-content: center;
    gap: 24px;
    text-align: center;
}

.image {
    display: flex;
    flex-direction: column;
    max-width: 125px;  
}

.quotecontainer {
    display: flex;
    flex-direction: column;
    padding: 48px 400px;
    justify-content: center;
    align-items: center;
}

.quotetext {
    display: flex;
    flex-direction: column; 
}

.quoteauthor {
    display: flex;
    justify-content: flex-end;
}